
body {
    margin: 0;
    background-color: #000000;
    font-family: 'Open Sans', 'Microsoft Yahei', sans-serif;
    font-size: 20px;
    color: #fff;
}

#header, #footer {
    padding: 15px;
}

#main {
    margin: 5px 0px;
}

#header h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
}

#footer p {
    margin: 0;
    font-size: 0.7em;
    color: #ccc;
}

#main {
}

.item-row::before,.item-row::after {
    display: table;
    content: " ";
}

.item-row::after {
    clear: both;
}

.item-square, .item-rect {
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 2.5px;
    position: relative;
    -webkit-perspective: 2000px;
}

.item-square div, .item-rect div {
    width: 100%;
    height: 100%;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.21);
}

.item-square p, .item-rect p{
    cursor: default;
}

.item-square {
    width: 33.33%;
}

.item-rect {
    width: 66.66%;
}

.item-square:hover, .item-rect:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.50);
}

.clear {
    clear: left;
}

.item-square p, .item-rect p {
    margin: 0px;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Didact Gothic', 'Microsoft Yahei', sans-serif;
    font-size: 16px;
    color: #fff;
}


.blue   { background-color: rgb(0,99,177); }
.light-blue   { background-color: rgb(39,117,236); }
.lime-green  { background-color: #32CD32; }
.green  { background-color: #006400; }
.red    { background-color: #bd1024; }
.dark-red    { background-color: #8B0000; }
.orange { background-color: #cd4900; }
.purple { background-color: #4B0082; }
.light-purple  { background-color: #800080; }
.yellow { background-color: #FF8C00; }
.navy   { background-color: #003A75; }
.maroon { background-color: #A52A2A; }
.teal { background-color: #008080; }

/* Modal Box */
body.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,.99);
    color: #000;
    overflow: auto;
    display: none;
}

.modal-container {
}
.modal-content {

}
.modal-content h2 {
    margin: 10px 15px;
    font-weight: normal;
}
.modal-content p {
    margin: 10px 15px;
    font-size: 16px;
}


.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}