
body {
    margin: 0;
    background-color: #000000;
    font-family: 'Open Sans', 'Microsoft Yahei', sans-serif;
    font-size: 14px;
    color: #fff;
}

#home {

}

#header, #footer {
    padding: 15px;
}

#main {
    margin: 5px 0px;
}

#header h2 {
    margin: 0;
    font-size: 1.6em;
    font-weight: 400;
}

#footer p {
    margin: 0;
    font-size: 0.7em;
    color: #ccc;
}

#main {
}

.item-row::before,.item-row::after {
    display: table;
    content: " ";
}

.item-row::after {
    clear: both;
}

.item-square, .item-rect {
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 3px;
    position: relative;
    -webkit-perspective: 2000px;
}

.item-square div, .item-rect div {
    width: 100%;
    height: 100%;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.21);
}

.item-square p, .item-rect p{
    cursor: default;
}

.item-square {
    width: 33.33%;
}

.item-rect {
    width: 66.66%;
}

.item-square:hover, .item-rect:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.50);
}

.clear {
    clear: left;
}

.item-square p, .item-rect p {
    margin: 0px;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Didact Gothic', 'Microsoft Yahei', sans-serif;
    font-size: 1.2em;
    color: #fff;
}


.blue   { background-color: rgb(0,99,177); color: #fff; }
.light-blue   { background-color: rgb(39,117,236); color: #fff; }
.lime-green  { background-color: #32CD32; color: #fff; }
.green  { background-color: #006400; color: #fff; }
.red    { background-color: #bd1024; color: #fff; }
.dark-red    { background-color: #8B0000; color: #fff; }
.orange { background-color: #cd4900; color: #fff; }
.purple { background-color: #4B0082; color: #fff; }
.light-purple  { background-color: #800080; color: #fff; }
.yellow { background-color: #FF8C00; color: #fff; }
.navy   { background-color: #003A75; color: #fff; }
.maroon { background-color: #A52A2A; color: #fff; }
.teal { background-color: #008080; color: #fff; }

#article {
  display: none;
}

#article h1, #article h2, #article p {
  margin: 15px;
}
#article h1 {
  font-weight: normal;
  font-size: 1.4em;
}
#article h2 {
  font-size: 1.2em;
}
#article p {
  font-size: 1em;
}
#article img {
  display: block;
  width: 100%;
}

#back {
  padding: 15px;
  font-size: 1.1em;
}

#back span {
  display: block;
  float: left;
  height: 1.1em;
  line-height: 1.1em;

}
#back span.icon {
  width: 1.1em;
  background-size: cover;
  background-image: url('../images/icon/arrow_back_white.png');
}